body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f8f8f8;
  color: #333;
}

.navbar {
  position: fixed;          
  top: 0;
  left: 0;
  width: 220px;             
  height: 100vh;            
  background: #8b0000;      
  color: white;
  display: flex;
  flex-direction: column;   
  align-items: center;
  padding-top: 30px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
}

.navbar h2 {
  margin-bottom: 40px;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  width: 100%;
}

.nav-links a {
  display: block;
  width: 100%;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition:  0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  background: #a31a1a;
}

.logout-btn {
  background: white;
  color: #8b0000;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #ffe5e5;
}

.dashboard {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.welcome-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 25px;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 25px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
