body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: 
    url("Ashesi_University_Logo_RED-2.png"),   
    url("Ashesi-University-Berekuso-Ghana-SchoolFinder-TortoisePathcom-2.jpeg.jpg");               
  background-repeat: no-repeat, no-repeat;
  background-size: 12rem, cover; 
  background-position: 30px 30px, center; 
  color: white;
}


.container {
  width: 100%;
  max-width: 420px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  overflow: hidden;
  text-align: center;
  padding: 30px 20px;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

h2 {
  margin: 0 0 10px;
  color: #8b0000;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 95%;
  padding: 10px;
  background: #8b0000;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #a31a1a;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

a {
  color: #8b0000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
